* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 14px;
  width: 100%;
}
